body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

/* NAVBAR */
.navbar {
    background: #0a860a;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    height: 70px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.nav a:hover {
    opacity: 0.7;
}

/* TITLE SECTION */
.title-section {
    text-align: center;
    margin-top: 20px;
}

.title-section h1 {
    font-size: 26px;
    margin-bottom: 5px;
    color: #333;
}

.title-section p {
    font-style: italic;
    color: #555;
}

/* FACILITY GRID */
.facility-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 40px auto;
    gap: 40px;
}

.facility-card {
    text-align: center;
}

.facility-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.facility-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.manage-btn {
    background: #0033cc;
    color: white;
    border: none;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manage-btn:hover {
    opacity: 0.8;
}

/* ADD NEW FACILITY */
.add-section {
    text-align: center;
    margin-top: 40px;
}

.add-box {
    width: 180px;
    height: 150px;
    background: #e9e9e9;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus {
    font-size: 60px;
    color: black;
}

.add-btn {
    margin-top: 20px;
    background: #0033cc;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.add-btn:hover {
    opacity: 0.8;
}